<h1>Activate page</h1>


<% if @student.active == false %>
<% @student.active = true %>
<% @student.save %>
<% else %>
<% @student.active = false %>
<% @student.save %>
<% end %>
<%controller.redirect_to student_path(@student) %>